.Tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: white solid;
    padding: 21px;
}
.ul{
    display: flex;
    justify-content: space-evenly;
}

.campo_Comentario{
    margin-top: 20px;
    width: 100%;
    border: solid;
    height: 100px;
   
}

.Mapa{
    min-width: 100%;
    height:200px;
}

.foto_Casa{
    margin-bottom: 20px;
}

.boton_enlace{
    margin-bottom: 21px;
}

article{
    background: linear-gradient(45deg,#00000096 29%,rgb(121, 192, 255));
    text-align: center;
    border-radius: 34px;
    box-shadow: 34px 20px 44px rgb(0 0 0 / 33%);

}

input{
    background: white
}

body{
    background: rgb(1, 80, 80);
    height: 100vh;
}

main{
    text-align: center;
}
/* background: linear-gradient(45deg,black 29%,rgb(121, 192, 255)) colores para article*/
/* background: rgb(1, 80, 80); colores para body */