<article>
    <form action="/api/getUserByLastName" autocomplete="off" method="post">

        <label for="user_last_name">Apellido</label>
        <input type="text" id="user_last_name" name="last_name" placeholder="Ingrese el Apellido del Usuario" required>
        
        <input type="submit" id="button"> Buscar Usuario
    
    </form>
</article>