<header>

  <h1>Bienvenido al programa de reparto</h1>
</header>
<article>


  <h3>MENÚ PRINCIPAL</h3>
  <ul class="ul">



    {{!-- los enlaces href hacen referencia a las rutas de index.js --}}

    <li><a href="/create" role="button">Crear Usuarios</a></li>
    <li><a href="/api/getDataBase" role="button">Base de Datos</a></li>
    <li><a href="/UserByLastName" role="button">Buscador</a></li>
    <li><a href="/updateUserIndex" role="button">Modificar</a></li>
  </ul>




</article>