<article>

    <form id="form-update" action="/api/updateUserById" method="post">

        <label for="user_Id">Identificador</label>
        <input type="password" id="user_Id" name="id" placeholder="Ingrese el Id del Usuario" minlength="24" required>

        <input type="submit" id="button_id"> Buscar Usuario

    </form>
</article>